<section class="content__wrapper">
  <main class="main__content">
    <h2 class="main__results-title">Результаты поиска</h2>
    <section class="main__cards">
      <app-card title="Марсианин 1"></app-card>
      <app-card title="Марсианин 2"></app-card>
      <app-card title="Марсианин 3"></app-card>
      <app-card title="Марсианин 4"></app-card>
      <app-card title="Марсианин 5"></app-card>
      <app-card title="Марсианин 6"></app-card>
    </section>
  </main>
  <aside class="sidebar">
    <div class="sidebar__categories">
      <h3 class="sidebar__header">Подборки фильмов и сериалов</h3>
      <app-categories
        category="Топ-250"
        description="Подборка фильмов и сериалов с наивысшими оценками зрителей"
      ></app-categories>
      <app-categories
        category="Посмеяться от души"
        description="Подборка комедий, которые помогут расслабиться после работы"
      ></app-categories>
      <app-categories
        category="Запутанный сюжет"
        description="Триллеры и приключения с запутанным и интересным сюжетом. Невозможно оторваться!"
      ></app-categories>
    </div>
    <footer class="footer">
      <p class="footer__copyright">&copy; ООО «Неткликс», 2024</p>
      <a href="/" class="footer__privacy">Политика конфиденциальности</a>
      <a href="/" class="footer__personal">Обработка персональных данных</a>
    </footer>
  </aside>
</section>
