@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  outline: none;
  transition: padding 0.25s ease-in-out, margin 0.25s ease-in-out;
  text-decoration: none;
}
body {
  height: 100vh;
  margin: 32px 150px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__inner {
  display: flex;
  flex-direction: column;
}
.subtitle {
  font-size: 14px;
}
.header__button-account,
.header__button-burger {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
}
.header__button-burger {
  display: none;
}
.search__container-inner {
  display: flex;
  border-radius: 8px;
  border: 4px solid #ff4949;
  background-color: #ff4949;
  margin: 16px 0 32px 0;
}
.search__container-inner input {
  padding: 20px 48px;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
}
input::placeholder {
  font-size: 16px;
}
.search__button {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  gap: 16px;
  background-color: #ff4949;
  color: #fff;
  font-size: 16px;
}
button {
  cursor: pointer;
}
.header__button-account,
.header__link {
  color: #000;
}
.header__title {
  font-weight: 600;
}
.content__wrapper {
  display: flex;
  gap: 32px;
  padding-bottom: 96px;
}
.main__cards > a {
  color: #000;
}
.main__content {
  flex: 3;
}
.main__results-title {
  margin: 8px 0 20px 0;
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__header {
  font-size: 16px;
  margin-top: 16px;
}
.sidebar__title {
  margin-bottom: 4px;
  font-weight: 700;
}
.sidebar__title,
.sidebar__description {
  font-size: 14px;
  line-height: 17px;
}
.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.sidebar__categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__card-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.main__card-title--bold {
  font-weight: 700;
}
.main__card-genre {
  color: #868686;
}
.main__card-rating {
  color: #04a31e;
  font-weight: 700;
  padding: 8px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer > p,
.footer > a {
  color: #aaa;
}
.footer__privacy,
.footer__personal {
  text-decoration: underline;
}
@media (max-width: 768px) {
  body {
    margin: 32px 52px;
  }
  .search__container-inner input {
    padding: 20px 32px;
  }
}
@media (max-width: 576px) {
  body {
    margin: 32px 24px;
  }
  .header__button-burger {
    display: block;
  }
  .search__container-inner input,
  .search__button {
    padding: 20px 16px;
  }
  .search__button > .search__button-text,
  .header__button-account {
    display: none;
  }
  .content__wrapper {
    flex-wrap: wrap;
    padding: 24px 0;
  }
  .main__cards {
    justify-content: center;
  }
  .footer {
    margin-top: 120px;
  }
  .footer > p,
  a {
    font-size: 14px;
  }
}
