<a [routerLink]="['/film', film.id]" class="main__item">
  <div class="main__card-image">
    <img [src]="film.poster" [alt]="film.titleRu" />
  </div>
  <div class="main__card-information">
    <p class="main__card-title">
      <span class="main__card-title--bold">{{ film.titleRu }},</span>
      {{ film.titleEn }}
    </p>
    <p class="main__card-genre">
      <span *ngFor="let genre of film.genre; let i = index; let last = last"
        >{{
          i === 0
            ? genre.charAt(0).toUpperCase() + genre.slice(1)
            : genre.toLowerCase()
        }}<span *ngIf="!last">, </span></span
      >
    </p>
    <p class="main__card-rating">{{ film.rating }}</p>
  </div>
</a>
